<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>Product Management System</title>
</head>

<body>
    <div class="container">
        <h1><%= title %></h1>
        <h2>Welcome <%= locals.user.name %></h2>
        <div class="error"></div>
        <div class="success"></div>

        <button class="green" id="logoutBtn">Log Out</button>
        <button class="blue">Add Item</button>
        <table id="productTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Images</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product)=>{ %>
                <tr>
                    <td><%- product.name %></td>
                    <td><%- product.description %></td>
                    <td><%- product.price %></td>
                    <td><%- product.stock %></td>
                    <td><%- product.category.name %></td>
                    <td>
                        <% product.image_url.forEach((elem) => { %>
                            <img src="<%- elem.url %>" alt="">
                        <% }); %>
                    </td>
                    <td>
                      <div>
                        <button class="red" id="deleteBtn" data-id="<%- product._id %>">
                            Delete
                        </button>
                        <button class="red" id="editBtn">
                            Edit
                        </button>
                      </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>