<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>
    <title>Product Management System</title>
  </head>

  <body>
    <div class="container">
      <h1><%= title %></h1>
      <button class="green" id="logoutBtn">Log Out</button>
      <button class="blue">Add Item</button>
      <table id="productTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Images</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((product)=>{ %>
          <tr>
            <td><%- product.name %></td>
            <td><%- product.description %></td>
            <td><%- product.price %></td>
            <td><%- product.stock %></td>
            <td><%- product.category %></td>
            <td>
              <% product.image_url.forEach((image) => { if (image.url !==
              "/sustainloop.png") { %>
              <img src="<%- image.url %>" alt="Product Image" />
              <% } }); %>
            </td>

            <td>
              <button class="red" id="deleteBtn" data-id="<%- product._id %>">
                Delete
              </button>
              <button class="red">Edit</button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
