<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>Item Management System</title>
</head>

<body>
    <div class="container">
        <h1><%= title %></h1>
        <!-- <h2>Welcome <%= locals.user.name %></h2>
        <img src="<%= locals.user.avatar %>" alt="" width="100" style="border-radius: 50%" /> -->
        <button class="green" id="logoutBtn">Log Out</button>
        <table id="productTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product)=>{ %>
                <tr>
                    <td><%- vehicle._id %></td>
                    <td><%- vehicle.brand %></td>
                    <td><%- vehicle.model %></td>
                    <td><%- vehicle.year %></td>
                    <td><%- vehicle.type %></td>
                    <td>
                        <button class="red" id="deleteBtn" data-id="<%- vehicle._id %>">
                            Delete
                        </button>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>